body{
    
    background-image: linear-gradient(to bottom, #ffffff, #370828);
    filter: contrast(1.2) brightness(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

fieldset{
    width:350px;
    padding: 30px;
    margin: auto;
    border: 2px solid rgba(59, 4, 37, 0.5);
    border-radius: 5px;
    background-color: white;
}

legend{
    padding-bottom: 30px;
    padding-top:0%;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif, Times, serif;
    font-weight: bolder;
    padding-right: 0%;
    color: rgba(48, 4, 42, 0.667);
}

label{
    color: rgb(38, 40, 45) ;
}

div{
    padding-bottom: 25px;
}

i.fa-check-circle{
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: rgb(7, 225, 113);
}

i.fa-exclamation-circle{
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: rgb(255, 0, 17);
    
}

.error-message{
    color: rgb(232, 11, 11);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

input[type]{
    width: 100%;
    padding-bottom: 20px;
    margin: 5px 0px;
    padding: 7px 25px;
    border: 2px solid rgb(0,0,0,0.5);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}

input[type=submit]{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 25px;
    border: 2px solid rgba(237, 231, 231, 0.773);
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(37, 36, 36);
    background-color: blueviolet;
    color: whitesmoke;
}

input[type=submit]:hover{
    background-color: rgb(69, 19, 116);
    
}

.message1{
    width:350px;
    padding: 30px;
    border: 5px solid red;
    border-radius: 5px;
    background-color: white;
    color: rgb(38, 40, 45);
    margin-top: 6px; 
    text-align: left;
}

h1{
    text-align: center;
    color: rgba(48, 4, 42, 0.92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif, Times, serif;
}

.message2{
    width:350px;
    padding: 30px;
    border: 5px solid rgba(4, 108, 24, 0.5);
    border-radius: 5px;
    background-color: white;
    color:  rgb(38, 40, 45);
    margin-top: 6px; 
    text-align: left;
}

.correo{
    text-align: center;
    color:black;
    font-size: larger;
    font-weight: bold;
}

.btn-consulta{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 25px;
    border: 2px solid rgba(237, 231, 231, 0.773);
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(37, 36, 36);
    background-color: blueviolet;
    color: whitesmoke;
    display:block;
    margin:0 auto;
    text-align: center;
}

.btn-consulta:hover{
    background-color: rgb(69, 19, 116);
}

.listado{
    width:700px;
    padding: 30px;
    margin: auto;
    max-height: 400px; /* Establece la altura máxima del listado */
    overflow-y: auto; /* Permite el desplazamiento vertical si se supera la altura máxima */
    border: 2px solid rgba(59, 4, 37, 0.5);
    border-radius: 5px;
    background-color: rgb(236, 237, 244);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.listado th{
    color: rgb(105, 109, 118);
}

.listado h1{
    color: rgb(27, 33, 46);
}
table {
    border-collapse: collapse;
  }
  
table tr {
    border-bottom: 1px solid #ccc;
  }
  
table th, table td {
    padding: 8px;
  }
  